<!--To import Tag Helper-->
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        a{
            margin:10px;
        }
    </style>
</head>
<body>

    <!-- HTML Comment-->
    @*C# Comment*@


    <!-- in this place can write code HTML and code c#-->
    @*Start Header*@
    <section class="d-flex justify-content-evenly container flex-column  vh-100  ">
        <div class="">
            <!-- HTML TAG-->
           <!--
                <a href="/Home/Index" class=" btn btn-danger">Home</a>
             <a href="/Home/Contact" class=" btn btn-success">Contact Us</a>
             <a href="/Home/About" class="btn btn-warning">About Us</a>
             <a href="/Home/Privacy" class=" btn btn-dark">Privacy</a>

           --> 

            <!-- HTML Helper -->
            <!-- @Html.ActionLink("Text On Anchor", "Name Action", "NameController", "Value Attributes", "Classes");-->
          @*

          @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-danger" })
            @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "btn btn-success" })
            @Html.ActionLink("About Us", "About", "Home", null, new { @class = "btn btn-warning" })
            @Html.ActionLink("Privacy", "Privacy", "Home", null, new { @class = "btn btn-dark" })
          *@
            
          <!-- Tag Helper-->
              <a asp-controller="Home" asp-action="Index"  class=" btn btn-danger">Home</a>
              <a asp-controller="Home" asp-action="Contact" class=" btn btn-success">Contact Us</a>
              <a asp-controller="Home" asp-action="About" class="btn btn-warning">About Us</a>
              <a asp-controller="Home" asp-action="Privacy" class=" btn btn-dark">Privacy</a>

           



        </div>
        @*End Header*@

    <div>
        @RenderBody()
    </div>


        @*Start Footer*@

        <div>
            <h1>CopyRights &copy; Hazem Fady At Rout @DateTime.Now</h1>


        </div>
        @*End Footer*@

    </section>

</body>
</html>
